<div id="wrapper"> {{!--The other half of the div is in the footer--}}
{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<div id="article-wrapper">
<article class="single-article {{#if feature_image}}image-article {{/if}}{{post_class}}">

    <header>

    </header>

    <section>

    	{{content}}

    </section>

</article>


{{/post}}
</div>

