/* RESET - http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
/* Bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
textarea {
  overflow: auto;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}
/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 20px;
}
/* Normalize monospace sizing: en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre,
code,
kbd,
samp {
  font-family: monospace, 'Open Sans', sans-serif;
}
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active {
  outline: none;
}
/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  font-size: 50%;
  vertical-align: super;
}
sub {
  font-size: 50%;
  vertical-align: sub;
}
iframe{
   width: 100%;
}
/**
 * Variables
 */
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Animations
 */
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(180deg);
    /* IE9 */
  
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
/* UTILITIES */

/* Hides shit */
.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

/* DEFAULTS */
html {
  font-size: 62.5%;
}
body {
  padding: 0 1.5em;
  font-size: 1.6em;
  line-height: 1.618;
  color: #464646;
  font-family: 'Gentium Book Basic', serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background: #fff;
  word-wrap: break-word;
}
::selection,
::-moz-selection {
  background: #2aab55;
  color: #fff;
}
img {
  vertical-align: bottom;
  max-width: 100%;
}
hr {
  background-color: #dddddd;
  border: 0;
  height: 1px;
  margin-bottom: 1.618em;
}
/* Hyperlinks */
a {
  color: #2aab55;
  text-decoration: none;
}
a:hover {
  color: #088933;
}
a.gplus, a.twitter, a.reddit,
a.instagram, a.youtube, a.facebook, 
a.github, a.steam, a.spotify{
   display:inline-block;
   opacity: 0.5;
}
a.gplus{
  color: #dd4b39;
}
a.twitter{
  color: #55acee;
}
a.reddit{
  color: #000130;
}
a.instagram{
  color: #4D2B00;
}
a.youtube{
  color: #CC181E;
}
a.facebook{
  color: #3B5998;
}
a.github{
  color: #333333;
}
a.steam{
  color: #000000;
}
a.spotify{
  color: #B3D500;
}
a.gplus:hover, a.twitter:hover, a.reddit:hover, 
a.instagram:hover, a.youtube:hover, a.facebook:hover, 
a.github:hover, a.steam:hover, a.spotify:hover{
    opacity: 1;
}
/* Typography */
/*
	All typography (and layout) based on a modular scale using 12 & 14 px values scaled in accordance the golden ratio (1.618)
	http://modularscale.com/scale/?px1=14&px2=12&ra1=1.618&ra2=0
	Remember to keep margins consistent and try to avoid margin-top. If everything has an appropriate margin-bottom we don't need one and vertical rhythm will be kept consistent
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .618em;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  color: #000000;
}
h1 {
  font-size: 1.618em;
  line-height: 1.387em;
}
h2 {
  font-size: 1.387em;
  line-height: 1.387em;
}
h2.menu{
    margin: .4em 1em .4em 0em;
    float: left;
}
h3 {
  font-size: 1.15em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.857em;
}
p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: manual;
  orphans: 3;
  widows: 3;
}
ul,
ol,
dl,
p,
table,
form,
pre,
hr {
  margin: 0 0 1.618em 0;
}
ol,
ul {
  margin: 0 0 1.618em 1.618em;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-bottom: 1.618em;
}
blockquote {
  margin: 0 -1em 1.618em;
  padding: 2.618em 2.618em 1.2em;
  background: #f9f9f9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
blockquote p {
  margin-bottom: 1em;
  font-style: italic;
  font-size: 1.1em;
}
.image-post-title{
   margin: 0;
}
.inline-div{
	display: inline-block;
}
.about-icon{
    margin: 0.2em;
}
.nav-icon{
    margin-right: 0.25em;
}
.menu-icon{
    float: left;
    margin: 0.3em 0.3em 0.3em 0.5em;
}
/* Begin Navigation Bar Styling */
#navbar, #socialbar, #articlenavbar, #imagearticlenavbar {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
   border-top: 1px solid #ccc; 
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  display: -ms-inline-flexbox;
  -ms-flex-direction: row;
  -ms-flex-line-pack: justify;
  -ms-flex-wrap: nowrap;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around; 
}
#navbar li {
   width: 100%;
   border-right: 1px solid #ccc; 
   -webkit-flex: 0 1 auto;
   -ms-flex: 0 1 auto;
   flex: 0 1 auto;
}
#imagearticlenavbar li{
   /*for ie10 flexbox*/
   padding: 0px 15px;
}
#navbar li:last-child{
    border:none;
}
#navbar li a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-align: center;      
}
#navbar li a:hover {
      color: #088933;
      background-color: #fff; 
}      
#navbar li.icon{
    float: right;
    border-left: 1px solid #ccc;
    border-right-style: none;
}
#navbar li.icon a{
    border-right-style: none;
}
#articlenavbar{
    background: none;
    border-top: 0px;
}
#imagearticlenavbar{
    padding: .5em 0 .5em 0;
    background-color: #000;
    background: rgba(0,0,0,0.3);
    border: 0px;
    border-radius: 10px;
}
/* End navigation bar styling. */

/* slider menu */
#menu-bar{
    display: inline-block;
    width: 100%;
    border-bottom: 5px solid #dddddd;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
/* this helps js perf on ios? */
#menu-bar a:active{
   color: inherit;
   text-decoration: none; 
}
#menu-toggle{
   display: none;
}
#social-menu-item{
cursor: pointer; cursor: hand; 
}
#socialbar-slider{
   display: none;
}
#socialbar-slider.accordion_css3_support {
        max-height: 0;
        display: block;
        overflow: hidden;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all 500ms cubic-bezier(0.445, 1.650, 0.625, 0.805);
        transform: translate3d(0,0,0);
        transition: all 500ms cubic-bezier(0.445, 1.650, 0.625, 0.805); 
        -webkit-backface-visibility:hidden;
        -webkit-perspective: 1000;
}
#socialbar-slider.animated {
   /* this needs to be assigned based on the size of the div, otherwise the animation 
   will run out of room. currently its 40px per li. */
   max-height: 40px;
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
}

/* LAYOUT */
#wrapper {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}
#lines { 
    border-bottom: 17px double black; 
    border-top: 6px solid black; 
    content:"";
    height: 5px; 
    width:30px;
	margin: .83em 1em .25em 1em;
	float: left;
	display: inline-block;
}
.site-header {
  width: 100%;
  margin: 0 0 0 0;
  padding: 2.618em 0;
  text-align: center;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.site-header img {
  margin: 0 0 1.618em;
}
.site-header h1 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 900;
  text-transform: uppercase;
}
.site-header h2 {
  font-size: .8em;
  text-transform: uppercase;
  color: #939393;
}
.articles {
  margin: 3em auto 0;
  width: 100%;
  max-width: 740px;
}
article {
  margin: 0 0 3.631em;
}
article header span {
  display: block;
  margin: 0 0 1.387em;
  font-size: .8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #939393;
}
.home-template article p:after {
  content: '…';
}
.home-template article .read-more:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  text-align: right;
  content: "\f0da";
  width: auto;
  vertical-align: middle;
  font-size: .9em;
}
nav {
  margin: 0 1.618em 3.631em;
}
nav:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
nav a {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  font-weight: 900;
  color: #939393;
}
nav a:hover {
  color: #000000;
}
nav .prev {
  float: left;
}
nav .prev:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f053";
  font-size: 1.4em;
  line-height: .4;
}
nav .next {
  float: right;
}
nav .next:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  text-align: right;
  content: "\f054";
  font-size: 1.4em;
  line-height: .4;
}
aside {
  margin: 0 0 1.5em;
  padding: 2.236em 2.618em 1em;
  border-top: 5px solid #dddddd;
  text-align: center;
  font-size: .9em;
  display: -ms-flexbox;
  -ms-flex-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}
aside img {
  margin-right: .75em;
  max-width: 80px;
  width: 80px;
  height: 80px;
  -webkit-flex: none;
  -ms-flex: none;
   flex: none;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  
}
aside p {
  margin: 0 auto;
  width: 75%;
  text-align: justify;
}
footer {
  margin: 0 auto 4.236em;
  padding: 3.631em 2.618em 0;
  border-top: 5px solid #dddddd;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: .8em;
  color: #606060;
}
footer img {
  max-width: 30px;
}
/* SINLGE ARTICLE */
.header-nav{
    clear:left;
}
.single-header, .image-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 0 3.631em;
  padding: 1em 2.618em;
  color: #fff;
  background: #2aab55;
  opacity: 0.90;
  filter: alpha(opacity=@opacity * 100);
}
.image-header, .header-image-archive{
   height: 400px;
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
 }
.header-image-archive{
   height: 200px;
   left: inherit;
   top: inherit;
   z-index: -1;   
   margin: 0 0 .618em;
   border-radius: 10px;
}
.header-image-archive a{
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0.7; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.header-image-archive a:hover{
    opacity: 0.2;
}
.image-header-title-nav{
   float: left;
   width: 21em;
}
.header-title-nav{
   float: left;
   width: 19em;
}
.single-header h1, .image-header h1,
.single-header a, .image-header a {
  color: #fff;
}
.single-header h1, .image-header h1 {
  float: left;
  margin: 0;
  font-size: 1em;
  line-height: 2.2;
}
.image-header h1{
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
	font-size: 1.2em;
}
.single-header img, .image-header img {
  float: left;
  margin: 0 1.618em 0 0;
  max-height: 35px;
}
.image-header img {
  max-height: 42px;
}
.single-header nav, .image-header nav {
  float: right;
  margin: .5em 0 0;
}
.single-header nav a span, .image-header nav a span {
  display: none;
}
.single-header nav a:before, .image-header nav a:before,
.single-header nav a:after, .image-header nav a:after {
  margin: 0;
  font-size: 1.618em;
}
/* author page stuff */
.author-meta {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1em;
    line-height: 1;
    font-style: italic;
    color: #939393;
}
.author-cover-image{
    position: relative;
    margin-top: 2em;
}
.author-name{
    color: white;
    margin: 0em 0.5em;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.author-image{
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    top: -10px;
    left: -15px;

}
.author-bio{
    color: #939393;
    text-align: justify;
}
/* end author stuff */
.single-article {
  margin: 6.854em auto 6.854em;
  width: 100%;
  max-width: 740px;
}
.single-article header h1 {
  margin: 0 0 1.2em;
}
.single-article section > p:first-child {
  font-size: 1.1em;
  font-weight: 600;
}
.image-article{
   padding-top: 350px;
}
/* Related Posts */
div.related-posts-block {
   margin-bottom: 1em;
}
div.related-posts-block ul{
   list-style: none;
   display: -ms-inline-flexbox;
   display: -webkit-inline-flex;
   display: inline-flex;
   margin: 0;
}
div.related-posts-block  li{
   display: block;
   padding: 0 1em 0 1em;
   /*fixes overflow in ie10*/
   -ms-flex: 0 1 auto;
}
div.related-posts-block  p{
   font-size: 75%;
}
/* RESPOND */
@media only screen and (min-width: 769px) {
  body {
    font-size: 1.8em;
    line-height: 1.618;
	padding: 0 2.618em;
  }
  h1 {
    font-size: 2.244em;
    line-height: 1.387em;
  }
  h2 {
    font-size: 1.618em;
    line-height: 1.387em;
  }
  h3 {
    font-size: 1.387em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.857em;
  }
  .site-header {
    margin: 0 0 0 0;
    padding: 5.874em 0;
  }
  article {
    margin: 0 0 6em;
  }
  aside {
    padding-left: 20%;
    padding-right: 20%;
  }
  .single-article {
    margin: 9.505em auto 5em;
  }
}
/* ANIMATE */
@-webkit-keyframes up {
  from {
    -ms-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
    opacity: 0.90;
  }
  to {
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes down {
  from {
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
	transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0.90;
  }
}
@keyframes up {
  from {
    -ms-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
    opacity: 0.90;
  }
  to {
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes down {
  from {
	transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 0.90;
  }
}
/* animation related */ 
.single-header.hide, .image-header.hide {
  -webkit-animation: up 1s;
  -webkit-animation-fill-mode: forwards;
   animation: up 1s;
   animation-fill-mode: forwards;
}
.single-header.show, .image-header.show {
  -webkit-animation: down 1s;
  -webkit-animation-fill-mode: forwards;
   animation: down 1s;
   animation-fill-mode: forwards;
}
/** Mobile **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
aside {
  padding-left: 0;
  padding-right: 0;
  }
div.related-posts-block ul{
   display: inline;
}
#menu-bar{
  display: block;
  border-bottom: 5px solid #dddddd;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  overflow: hidden;
  background: #f2f2f2;
  /* removes annoying gray activation block */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#menu-toggle{
  display: block;
  height: 48px;
}
#menu-slider{
   display: none;
}
#menu-slider.accordion_css3_support {
        display: block;
        max-height: 0;
        overflow: hidden;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all 500ms cubic-bezier(0.445, 1.650, 0.625, 0.805);
        transform: translate3d(0,0,0);
        transition: all 500ms cubic-bezier(0.445, 1.650, 0.625, 0.805); 
        -webkit-backface-visibility:hidden;
        -webkit-perspective: 1000;
}
#menu-slider.animated {
   /* this needs to be assigned based on the size of the div, otherwise the animation 
   will run out of room. currently its 40px per li. */
   max-height: 200px;
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
}
.menu-text{
    display:inline;
}
#social-menu-item{
   display:none;
}
#navbar {
  width: 100%;
  float: left;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border: 0px;
   border-top: 1px solid #ccc; 
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  font-family: 'Open Sans', sans-serif;
  display:inline;
  }
#navbar li {
      width: 100%;
	  border-top: 3px solid white;
}
/* gotta put it back */ 
#navbar li:last-child{
      border-top: 3px solid white;
}
#navbar li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: black;
	  border-right: 0px;
   }
#navbar li a:hover {
      color: #088933;
      background-color: #fff;
}
#social-bar{
   display:none;
}
.single-article{
   padding-top: 50px;
}
.image-header{
   height: 200px;
   background-color: #fff;
}
.image-header h1{
   font-size: 1em;
}
.image-header img{
   max-height: 35px;
}
.image-article{
   padding-top: 140px;
}	  
.image-header-title-nav{
   float: left;
   width: auto;
}
.header-title-nav{
   float: left;
   width: auto;
}
}


